.wrapper {
  margin: 0 40px 40px 46px;
	position: relative;
}

.title {
	font-family: IBM Plex Mono;
	font-size: 32px;
	font-weight: 600;
	line-height: 42px;
	letter-spacing: -0.20000000298023224px;
	text-align: left;
	margin: 32px 0 32px;
}

.subtitle {
	font-family: IBM Plex Mono;
	font-size: 24px;
	font-weight: 600;
	line-height: 31px;
	letter-spacing: 0px;
	text-align: left;
	margin: 32px 0 0 32px;
}

.text {
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.30000001192092896px;
	text-align: left;
}

.button {
  position: absolute;
	top: 0;
	right: 0;
	font-family: IBM Plex Mono;
	text-transform: uppercase;
	padding: 20px;
}

.container {
  text-align: center;
  background-color: #F2F4F8;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 330px;
  flex-direction: column;
  color: #A6B3C9;
}

.field {
	height: 505px;
	border-radius: 30px;
	background-color: #F2F4F8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list_block {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #FFF;
	border-radius: 30px;
	box-shadow: 0px 6px 16px 0px #15123314;
	margin: 0 0 32px;
	overflow: hidden;
}

.button_all {
	position: absolute;
	font-family: Open Sans;
	top: 32px;
	right: 32px;
	padding: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.30000001192092896px;
	text-align: right;
	color: #A6B3C9;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.img_caret {
	margin: 0 0 0 17px;
	transform: rotate(0deg);
	transition: transform .4s ease;
}

.img_caret_active {
	margin: 0 0 0 17px;
	transition: transform .4s ease;
	transform: rotate(180deg);
}

.table {
	padding: 28px 32px 48px;
	margin: 0;
}

.list_headings {
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:
		minmax(20px, 70px) minmax(20px, 81px) minmax(20px, 101px)
		minmax(20px, 202px) minmax(20px, 91px) minmax(20px, 141px);
	font-family: IBM Plex Mono;
	font-size: 16px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 0.5px;
	text-align: left;
  gap: 120px;
	text-wrap: nowrap;
}

.list_wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  overflow: auto;
}

.list_wrapper::-webkit-scrollbar {
	width: 2px;
	padding-right: 4px;
}

.list_wrapper::-webkit-scrollbar-thumb {
	background-color: #A6B3C9;
	border-radius: 25px;
	width: 2px;
	height: 8px;
}

.list {
  list-style-type: none;
  margin: 12px 0 0;
  padding: 0;
}

.list_item {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns:
    minmax(20px, 70px) minmax(20px, 81px) minmax(20px, 101px)
    minmax(20px, 202px) minmax(20px, 91px) minmax(20px, 141px);
  column-gap: 120px;
}

.list_item_text {
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.30000001192092896px;
	text-align: left;
}

.list_item_text_started {
	color: #00E98F;
}

.list_item_text_stopped {
	color: #FF5555;
}

.tutorial_title {
	font-family: IBM Plex Mono;
	font-size: 18px;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0px;
	text-align: left;
	margin: 0 41px 16px;
}
.tutorial_container {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.tutorial_video_container {
	margin: 0 41px 40px;
	display: flex;
	gap: 25px;
}

.tutorial_button {
	background-color: #F2F4F8;
	border: 2px solid #E4E9F1;
	cursor: pointer;
}

.field_adding {
	width: 849px;
	min-height: 849px;
	border-radius: 30px;
	background-color: #F2F4F8;
	display: flex;
	flex-direction: column;
}

.constructor_block {
	width: 100%;
	min-height: 720px;
	border-radius: 30px;
	background: var(--off-white, #FFF);
	box-shadow: 0px 6px 16px 0px rgba(21, 18, 51, 0.08);
}

.field_buttons {
	font-family: IBM Plex Mono;
	display: flex;
	gap: 12px;
	margin: 32px 40px 32px 540px;
}

.exit {
	color: #8392AB;
	text-transform: uppercase;
}

.exit:hover {
	color: #060C23;
}

.to_step_two {
	color: #8392AB;
	text-transform: uppercase;
}

.to_step_two:hover {
	color: #060C23;
}

