$button: #22FFAA;

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.button {
    border-radius: 10px;
    padding: 20px 50px;
    background-color: $button;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    margin-top: 16px;
    float: right;
}