.message__container {
  margin: 0;
  padding: 0;
}

.message {
  width: fit-content;
  margin: 0;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #2E293D;
  color: #FFF;
  border-radius: 10px;
}