.main-overlay {
    width: 100%;
}

.main-overlay::after {
    /* Стили для псевдоэлемента без открытого оверлея (закрытого) */
    display: none;
}

.main-overlay--open::after {
    /* Стили для псевдоэлемента при открытом оверлее */
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.3;
}
