@import "../../utils/variables";
.section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.block {
  margin-left: 20px;
  width: 404px;
  height: 352px;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.title {
  margin-left: 20px;
  // width: 404px;
  height: 112px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.container {
    margin-left: 20px;
    padding: 0;
    border-radius: 30px;
    display: block;
    position: relative;
    background-color: $colorSecondaryCulturedHover;
  }
  .containerBalans {
    bottom: 80px;
    justify-content: space-between;
    align-items: end;
    margin: 0;
    width: 404px;
    min-height: 205px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .subscription {
    z-index: 10;
    background-color: $colorOffWhite;
    width: 404px;
    min-height: 228px;
    box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .payments {
    // z-index: 10;
    background-color: $colorSecondaryCulturedHover;
    min-width: 836px;
    min-height: 228px;
    // box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);
    margin: 0 35px auto 30px ;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    // align-items: center;
  }
  .blockInfo {
    // z-index: 10;
    // background-color: $colorSecondaryCulturedHover;
    // width: 836px;
    // min-height: 228px;
    // box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);
    // margin-left: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    // align-items: center;
  }
  .button {
    @extend %AgButtonL;
    font-weight: 600;
    font-family: 'IBM Plex Mono';
    letter-spacing: 1px;
    margin-bottom: 35px;
    margin-right: 35px;
    width: 229px;
    height: 60px;
    padding: 0;
  }
  .buttonChangeTariff {
    @extend %AgButtonL;
    font-weight: 600;
    font-family: 'IBM Plex Mono';
    margin: 35px;
    // margin-right: 35px;
    width: 188px;
    height: 46px;
    padding: 0;
  }
  .sum {
    @extend %AgH3Med;
    font-weight: 600;
    font-family: 'IBM Plex Mono';
    margin: 0;
    padding: 0;
    line-height: 32px;
  }
  .balance {
    width: 50px;
    margin: auto auto 35px 35px;
    display: flex;
    flex-direction: column;
  }

  .text {
    @extend %AgPSReg;
    font-family: "Open Sans";
    width: 87px;
    min-height: 31px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .titleText {
    @extend %AgH2;
    font-family: 'IBM Plex Mono';
    min-width: 342px;
    min-height: 42px;
    margin-right: auto;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .titleTextSubscription {
    @extend %AgH3Med;
    font-family: 'IBM Plex Mono';
    font-weight: 600;
    min-width: 87px;
    min-height: 31px;
    margin: 0 150px 0 35px;
    padding: 0;
    display: flex;
    align-items: center;
    // flex-direction: row;
    // position: relative;
    // justify-content: space-between;
  }
  .titleSubscription {
    padding: 35px 0 0;
    display: flex;
    align-items: center;
    // flex-direction: row;
    position: relative;
    justify-content: space-between;
  }
  .titleTextStatus {
    @extend %AgH4;
    color: $colorSecondaryError;
    font-family: 'IBM Plex Mono';
    width: 98px;
    max-height: 23px;
    margin: 0 35px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  // .titleText {
  //   @extend %AgH3Med;
  //   font-family: 'IBM Plex Mono';
  //   font-weight: 600;
  //   width: 87px;
  //   min-height: 31px;
  //   margin: 0;
  //   padding: 0;
  //   display: flex;
  //   align-items: center;
  // }
  .buttonActivedSubscription {
    @extend %AgButtonL;
    font-weight: 600;
    font-family: 'IBM Plex Mono';
    letter-spacing: 1px;
    margin-top: 25px;
    // margin-right: 35px;
    width: 340px;
    height: 56px;
    padding: 0;
  }
  .answerText{
    align-self: self-start;
    margin: 3px 0 0 35px;
  }
.tableHead {
  margin: 7px;
}
.table__td {
  padding: 17px;
  color: red;
}

  // .blockRate {
  //   position: absolute;
  //   // top: 30px;
  //   // left: -80px;
  //   width: 404px;
  //   height: 211px;
  //   border-radius: 30px;
  //   // box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);
  //   display: flex;
  //   flex-direction: column;
  //   // gap: 5px;
  //   // cursor: pointer;
  //   // list-style-type: none;
  //   margin: 0;
  //   // padding: 10px 0;
  //   background-color: #fff;
  //   // z-index: 100;
  // }
    
  // .menuItem {
  //   margin: 0;
  // }
  
  // .button {
  //   margin: 0;
  //   width: 100%;
  //   height: 37px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-start;
  //   background-color: #fff;
  //   border: none;
  //   cursor: pointer;
  // }
  
  // .button:hover {
  //   background-color: rgba(242, 244, 248, 1);
  // }
  
  // .label {
  //   margin: 0;
  //   padding: 0;
  //   font-size: 13px;
  //   font-weight: 400;
  //   line-height: 20px;
  //   letter-spacing: 1px;
  //   text-align: left;
  // }
  
  // .buttonIcon {
  //   width: 24px;
  //   height: 24px;
  //   margin: 0px 16px 0 10px;
  // }
  
  // .name {
  //   margin: 42px auto 32px;
  //   padding: 0;
  //   width: 232px;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   font-size: 16px;
  //   font-weight: 600;
  //   line-height: 21px;
  //   letter-spacing: 0.5px;
  //   text-align: left;
  // }