.message-receive {
    display: flex;
    max-width: 362px;
    height: 101px;
    margin-bottom: 24px;
    &__icon {
        align-self: flex-end;
        padding-bottom: 28px;
    }
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__block {
        display: flex;
        border-radius: 10px;
        background-color: #f8f9fb;
        min-width: 232px;
        margin-left: 16px;
        padding: 16px 19px 16px;
    }
    &__wrapper {
    }
    &__username {
        color: #060c23;
        margin: 0;
        padding: 0;
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
    }
    &__text {
        color: #060c23;
        margin: 6px 0 0 0;
        padding: 0;
        font-family: 'Open Sans';
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
    }
    &__created {
        color: #a6b3c9;
        white-space: nowrap;
        align-self: flex-end;
        margin: 0 0 0 auto;
        padding: 0;
        font-family: 'Open Sans';
        font-size: 8px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.30000001192092896px;
    }
    &__read {
        color: #a6b3c9;
        margin: 10px 0 0 16px;
        padding: 0;
        font-family: 'Open Sans';
        font-size: 8px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
    }
    &__rounded-box {
        position: absolute;
        width: 30px;
        height: 50%;
        border: 1px solid red;
        border-radius: 10px;
    }
}

.message-send {
    display: flex;
    flex-direction: row-reverse;
    max-width: 362px;
    height: 101px;
    margin: 0 0 24px auto;
    &__icon {
        margin-left: 12px;
        align-self: flex-end;
        padding-bottom: 14px;
    }
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__block {
        display: flex;
        border-radius: 10px;
        background-color: #243cbb;
        min-width: 232px;
        margin-left: 16px;
        padding: 16px 19px 16px;
    }
    &__wrapper {
    }
    &__username {
        color: #ffffff;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans';
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
    }
    &__text {
        color: #ffffff;
        margin: 6px 0 0 0;
        padding: 0;
        font-family: 'Open Sans';
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
    }
    &__created {
        color: #a6b3c9;
        white-space: nowrap;
        align-self: flex-end;
        margin: 0 0 0 auto;
        padding: 0;
        font-family: 'Open Sans';
        font-size: 8px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.30000001192092896px;
    }
    &__read {
        color: #a6b3c9;
        margin: 10px 0 0 16px;
        padding: 0;
        font-family: 'Open Sans';
        font-size: 8px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
    }
    &__rounded-box {
        position: absolute;
        width: 30px;
        height: 50%;
        border: 1px solid red;
        border-radius: 10px;
    }
}
