$default: #f2f4f8;
$circleDafault: #a6b3c9;
$hoverBlue: #243cbb;
$activeBackground: #ecefff;
$inactiveGray: #ccd4e0;

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.button {
  width: 296px;
  height: 172px;
  border: none;
  border-radius: 30px;
  @include flex($align: center, $justify: center);
  flex-direction: column;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 130%;
  cursor: pointer;
}

.button {
  div {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    @include flex($align: center, $justify: center);
    margin-bottom: 14px;
  }
}

.active {
  div {
    border: 2px solid $circleDafault;
    transition: border 0.5s;
    svg path {
      transition: stroke 0.5s;
    }
  }
  color: $circleDafault;
  background-color: $default;
  transition: color 0.5s;
}

.active:hover {
  div {
    svg {
      path {
        stroke: $hoverBlue;
      }
    }
    border: 2px solid $hoverBlue;
  }
  color: $hoverBlue;
}

.active:active {
  background-color: $activeBackground;
}

.inactive {
  div {
    border: 2px solid $inactiveGray;
    svg path {
        stroke: $inactiveGray;
    }
  }
  color: $inactiveGray;
}
