$defaultbackground: #f2f4f8;
$presedBackground: #ecefff;
$iconPresed: #243cbb;
$iconInactiv: #ccd4e0;

@mixin svgPath($color: #a6b3c9) {
  svg {
    path {
      stroke: $color;
      transition: stroke 0.5s;
    }
  }
}

@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.button {
  width: 56px;
  height: 52px;
  border-radius: 10px;
  @include flex;
  border: none;
  cursor: pointer;
  background-color: $defaultbackground;
}

.active {
  @include svgPath;
}

.active:hover {
  @include svgPath($iconPresed);
}

.active:active {
  background-color: $presedBackground;
}

.inactive {
  @include svgPath($iconInactiv);
}
