  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    border: none;
    cursor: pointer;

    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 134%; /* 18.76px */
    letter-spacing: 1px;
    text-transform: uppercase;

    &:disabled {
      cursor: default;
    }
  }

  .button_theme_purple {
    color: #FFFFFF;
    background-color: #243CBB;

    &:hover {
      background-color: #435CDB;
    }

    &:active {
      background-color: #243CBB;
    }

    &:disabled {
      background-color: #ECEFFF;
    }
  }

  .button_theme_green {
    color: #060C23;
    background-color: #22FFAA;

    &:hover {
      background-color: #70FFC8;
    }

    &:active {
      background-color: #22FFAA;
    }

    &:disabled {
      opacity: .4;
      background-color: #85FFD0;
    }
  }

  .button_theme_grey {
    color: #060C23;
    background-color: #E4E9F1;

    &:hover {
      color: #243CBB;
      background-color: #E4E9F1;
    }

    &:active {
      color: #243CBB;
      background-color: #ECEFFF;
      box-shadow: 0px 4px 4px 0px #00000040;
    }

    &:disabled {
      color: #A6B3C9;
      background-color: #F2F4F8;
      box-shadow: none;
    }
  }

  .button_size_l {
    padding: 20px 50px 20px 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 10px;
  }

  .button_size_s {
    width: 46px;
    border-radius: 46px;
    background-image: url(./plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  