$backGround: #f8f9fb;
$svgdef: #a6b3c9;
$activeGround: #ecefff;
$defaultFont: #8392ab;
$activeFont: #243CBB;
$inactivFont: #d7deea;
$inactivSvg: #ccd4e0;

@mixin svgPath($color: #a6b3c9) {
  svg {
    path {
      stroke: $color;
      transition: stroke 0.5s;
    }
    circle {
      transition: stroke 0.3s;
        stroke: $color;
    }
  }
}

.button {
  width: 264px;
  height: 44px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 12px;
  color: $defaultFont;
  cursor: pointer;
  margin-bottom: 16px;
}

.button {
  svg {
    margin-right: 9px;
  }
}

.active {
  @include svgPath;
  transition: color .5s;
}

.active:hover {
  @include svgPath($activeFont);
  color: $activeFont;
}

.active:active {
    background-color: $activeGround;
}

.inactive {
  @include svgPath($inactivSvg);
  color: $inactivFont;
}
