.password_reset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  &__logo {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 35px;
    max-width: 149px;
  }
  &__title {
    align-self: center;
    font-size: 48px;
    line-height: 52px;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    color: black;
  }
}

@media screen and (max-width: 800px) {
  .password_reset__title {
    max-width: 320px;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }
}
