.fieldset {
    border: none;
    padding: 0;
}

.input {
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    width: 580px;
    height: 65px;
    padding-left: 22px;
    background-color: #f8f9fb;
    color: #060c23;
    font-size: 14px;
}

.input_small {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    width: 231px;
    height: 40px;
    padding: 10px 8px;
    background-color: #f8f9fb;
    color: #060c23;
    font-size: 13px;
}

.input_medium {
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    width: 378px;
    height: 65px;
    padding-left: 22px;
    background-color: #f8f9fb;
    color: #060c23;
    font-size: 14px;
}

.input_adaptive {
    width: 100%;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #bfc9d9;
}

.input:hover::placeholder {
    color: #a6b3c9;
}

.input:hover::placeholder {
    color: #a6b3c9;
}

.input:disabled::placeholder {
    color: #e4e9f1;
}

.errorBorder {
    border: 1px solid #ff5555;
}

.error {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #ff5555;
}
