// Переменные цветов
$colorBlue: #0C4BA0;

// Дополнительные цвета
$colorGrey: #CCD4E0;   
$colorGrey2: #BFC9D9;  
$colorGrey3: #A6B3C9;  
$colorGrey4: #8392AB;  
$colorBlueDisabled: #ECEFFF; 
$colorOffWhite: #FFFFFF; 

// Основные цвета
$colorPrimaryPersianBlue: #243CBB;  
$colorPrimaryDefaultOxfordBlue: #060C23;  
$colorPrimaryDefaultMediumSpringGreen: #22FFAA;  

// Второстепенные цвета
$colorSecondaryError: #FF5656;  
$colorSecondaryCulturedHover: #F2F4F8; 
$colorSecondaryCulturedDefault: #F8F9FB;
$colorSecondaryCulturedPress: #D7DEEA;

// Типографические стили
%AgH1 {
  font-size: 48px;
}

%AgH2 {
  font-size: 32px;
}

%AgH3Med {
  font-size: 24px;
  font-weight: 500; // Medium
}

%AgH4 {
  font-size: 18px;
}

%AgH5Bold {
  font-size: 16px;
  font-weight: bold;
}

%AgH5Med {
  font-size: 16px;
  font-weight: 500; // Medium
}

%AgPL {
  font-size: 16px;
}

%AgPM {
  font-size: 14px;
}

%AgPS {
  font-size: 13px;
}

%AgPSReg {
  font-size: 13px;
  font-weight: normal; // Regular
}

%AgLabel {
  font-size: 12px;
}

%AgLabelS {
  font-size: 12px;
}

%AgLabelXS {
  font-size: 10px;
}

%AgButtonL {
  font-size: 14px;
}

$page: (
  dimensions-and-margins: (
    width: 100%,
    margin: 0 auto,
  ),
  main-fonts: (
    font-family: 'IBM Plex Mono', 'Open Sans', sans-serif,
  ),
  font-and-background-colors: (
    color: #FFFFFF,
    background-color: #202020,
  ),
  font-display-properties: (
    -webkit-text-size-adjust: 100%,
    -ms-text-size-adjust: 100%,
    -moz-text-size-adjust: 100%,
    -webkit-font-smoothing: antialiased,
    -moz-osx-font-smoothing: grayscale,
  ),
);

/*
Example of how to use these styles:

.page {
  width: map-get(map-get($page, dimensions-and-margins), width);
  margin: map-get(map-get($page, dimensions-and-margins), margin);
  font-family: map-get($page, main-fonts);
  color: map-get(map-get($page, font-and-background-colors), color);
  background-color: map-get(map-get($page, font-and-background-colors), background-color);

  -webkit-text-size-adjust: map-get(map-get($page, font-display-properties), -webkit-text-size-adjust);
  -ms-text-size-adjust: map-get(map-get($page, font-display-properties), -ms-text-size-adjust);
  -moz-text-size-adjust: map-get(map-get($page, font-display-properties), -moz-text-size-adjust);
  -webkit-font-smoothing: map-get(map-get($page, font-display-properties), -webkit-font-smoothing);
  -moz-osx-font-smoothing: map-get(map-get($page, font-display-properties), -moz-osx-font-smoothing);
}
*/
