.button {
  background-color: #F8F9FB;
  width: 124px;
  height: 124px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  cursor: pointer;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
}

.button div {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.active div {
  background-color: #243CBB;
  transition: background-color 0.5s;
}

.inactive {
  color: #A6B3C9;
}
.inactive div {
  background-color: #CCD4E0;
}

.active:hover div {
  background-color: #2D88FF;
}

.active:active {
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px rgba(21, 18, 51, 0.08);
}