.buttonTutorial {
    display: flex;
    flex-direction: row;
    column-gap: 52px;
    width: 579px;
    height: 76px;
    border-radius: 10px;
    border: 2px solid var(--secondary-cultured-focus, #E4E9F1);
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.buttonTutorial_iconsArea {
    position: relative;
    display: flex;
    height: 100%;
    /* width: 100%; */
    width: 149px;
}

.buttonTutorial_icon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.buttonTutorial_test {
    top: 9px;
    left: 61px;
}

.buttonTutorial_mainIcon {
    /* display: flex; */
    width: 65px;
    height: 46px;
    align-self: center;
    /* justify-self: center; */
    flex-shrink: 0;
    /* z-index: 4; */
    position: relative;
    margin-left: 32px;
}

.buttonTutorial__textArea {
    /* font-family: Open Sans; */
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: 0.3px;
    align-self: center;
}

.buttonTutorial:hover {
    border-color: #FFFFFF;
    box-shadow: 0px 6px 16px 0px rgba(21, 18, 51, 0.08);
}
