.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 580px;
  height: 65px;
  background-color: #f2f4f8;
}

.button_md {
  justify-content: flex-start;
  border-radius: 50px;
  width: 274px;
  height: 52px;
}

.button_sm {
  justify-content: flex-start;
  border-radius: 50px;
  width: 180px;
  height: 52px;
}

.title {
  margin-left: 17px;
  color: #bfc9d9;
}

.title_hover {
  margin-left: 17px;
  color: #8392ab;
}

.title_disabled {
  margin-left: 17px;
  color: #d7deea;
}