$iconPhone: #243cbb;
$iconTrash: #a6b3c9;
$iconPhoneHover: #435cdb;
$iconTrashHover: #ccd4e0;
$shadow: 0px 6px 16px 0px rgba(21, 18, 51, 0.08);
$border: #f2f4f8;

@mixin svgPath($color) {
  svg {
    path {
      stroke: $color;
      transition: stroke 0.5s;
    }
    line {
      stroke: $color;
      transition: stroke 0.5s;
    }
  }
}

@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.container {
  box-shadow: $shadow;
  width: 96px;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.container button {
  width: 48px;
  height: 40px;
  border: none;
  background-color: #fff;
  @include flex;
  cursor: pointer;
}

.container button:first-child {
  border-right: 1px solid $border;
  @include svgPath($iconPhone);
}

.container:hover button:first-child {
  @include svgPath($iconPhoneHover);
}

.container button:last-child {
  border-right: 1px solid $border;
  @include svgPath($iconTrash);
}

.container:hover button:last-child {
  border-right: 1px solid $border;
  @include svgPath($iconTrashHover);
}
