.buttonCopy {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    border: transparent;
    border-radius: 10px;
    cursor: pointer;

    &:hover * {
        stroke: #243CBB;
    }

    &:active {
        background-color: #ECEFFF;
    }

    &:active * {
        stroke: #243CBB;
    }

    &:disabled {
        background-color: transparent;
        cursor: default;
    }

    &:disabled * {
        stroke: #D7DEEA;
    }
}
