  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px 50px 20px 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px; */
    height: 46px;
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
  }

  .button_type_primary {
    color: #FFFFFF;
  }

  .button_type_secondary {
    color: #060C23;
    /* background-color: #E4E9F1; */
  }

  .button_size_l {
    padding: 20px 50px 20px 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 10px;
  }

  .button_size_s {
    width: 46px;
    border-radius: 46px;
    background-image: url(./plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  .button_color_purple {
    background-color: #243CBB;
  }

  .button_color_green {
    background-color: #22FFAA;
  }

  .button_color_grey {
    background-color: #E4E9F1;
  }
  
  .button_type_primary:hover {
    background-color: #435CDB;
  }

  .button_type_primary:active {
    background-color: #243CBB;
  }

  .button_type_secondary:hover {
    color: #243CBB;
    background-color: #E4E9F1;
  }

  .button_type_secondary:active {
    color: #243CBB;
    background-color: #ECEFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .button_disabled,
  .button_disabled:hover {
    cursor: default;
  }

  .button_type_primary.button_disabled {
    color: #FFFFFF;
    background-color: #ECEFFF;
    cursor: default;
  }

  .button_type_secondary.button_disabled {
    color: #A6B3C9;
    background-color: #F2F4F8;
    box-shadow: none;
    cursor: default;
  }

  .button_type_primary.button_disabled.button_disabled:hover {
    color: #FFFFFF;
    background-color: #ECEFFF;
    cursor: default;
  }

  .button_type_secondary.button_disabled.button_disabled:hover {
    color: #A6B3C9;
    background-color: #F2F4F8;
    box-shadow: none;
    cursor: default;
  }
