$groundDefFont: #E4E9F1;
$blueHover: #243CBB;
$activeBackground: #ECEFFF;
$inactiveGround: #E4E9F1;
$inactiveFont: #CCD4E0;

.button {
    width: 95px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.active {
    background-color: $groundDefFont;
    transition: color .5s;
}

.active:hover {
    color: $blueHover;
}

.active:active {
    background-color: $activeBackground;
}

.inactive {
    background-color: $inactiveGround;
    color: $inactiveFont;
}