.title__container {
  margin: 0 0 16px 0;
  padding: 0;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #060C23;
}